blinker
certifi
charset-normalizer
click
contourpy
cycler
dash
dash-bootstrap-components
et_xmlfile
Flask
fonttools
idna
importlib_metadata
itsdangerous
Jinja2
kiwisolver
MarkupSafe
matplotlib
matplotlib-venn
narwhals
nest-asyncio
numpy
openpyxl
packaging
pandas
pillow
plotly
pyparsing
python-dateutil
pytz
requests
retrying
scipy
six
typing_extensions
tzdata
urllib3
Werkzeug
zipp
